<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Album Example</title>
  <style>
    /* Ваш пользовательский стиль здесь */
  </style>
</head>
<body>

  <!-- Навигационная панель -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Фото-альбомы</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Зарегаться <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Зайти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Содержимое альбома -->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://w.forfun.com/fetch/c4/c493aac67877288476b0fc52d55f55cf.jpeg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Скоро тут появится описание альбома.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Смотреть</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                    </div>
                    <small class="text-muted">Дата</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Подвал -->
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Вернуться</a>
      </p>
      <p> © Ооочень крутой сайт тут скоро будет!</p>
    </div>
  </footer>

  <!-- Скрипты Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>